$first-color: rgb(20, 57, 2);
$light-color: rgb(178, 221, 203);
$contrast-color: #fe85fa;
$third-color: rgb(69, 214, 154);
$white: rgb(255, 255, 255);

// whole page
.articles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

// whole card
.whole-article {
  font-family: quicksand;
  width: 500px;
}

// title
.heart {
  color: $contrast-color;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 0.7em;
  padding: 0.2em;
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $first-color;
  color: $white;
  padding: 0.8em;
  margin: 0;
  font-size: 1.2em;
  border-bottom: 10px solid $contrast-color;
  border-right: 3px solid $contrast-color;

  button {
    border-bottom: 5px solid $contrast-color;
    border-top: none;
    border-left: none;
    border-right: 2px solid $contrast-color;
    border-radius: 25px;
    padding: 0.8em;
    background-color: $third-color;
    font-family: quicksand;
    font-weight: bold;
    color: $white;
  }
}

// card content
h3 {
  color: $first-color;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.author {
  color: $first-color;
  padding: 0.5em;
  width: 30%;
  border-radius: 0 0 25px;
  background-color: $white;

  margin: 0;
}
img {
  height: 150px;
}

.article-content {
  display: flex;
  flex-direction: row;
  padding: 1em;
  p {
    background-color: $white;
    padding: 1em;
    margin: 0;
  }
}

// likes
.likes-section {
  border-bottom: $contrast-color 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  .liked-button {
    color: $contrast-color;
  }
  button {
    background-color: transparent;
    border: none;
    font-size: 1.8em;
  }
}

// comments
.comment-section {
  border-top: 2px solid $contrast-color;
  background-color: $white;
  padding-bottom: 1em;
  h4,
  h5 {
    color: $first-color;
  }
  input {
    border: $first-color solid 2px;
    width: 50%;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  p {
    background-color: $light-color;
    border-radius: 25px 25px 25px 0px;
    width: 50%;
    padding: 0.5em;
  }
}
