$first-color: rgb(95, 1, 68);
$light-color: rgb(204, 179, 136);
$contrast-color: #4f027b;
$third-color: rgb(230, 147, 44);
$white: rgb(255, 255, 255);

h1 {
  font-family: "Quicksand";
  text-align: center;
  color: $first-color;
}

nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    background-color: $third-color;
    color: $white;
    padding: 1em;
    border-radius: 25px;
  }
}
