/* You can add global styles to this file, and also import other style files */
$first-color: rgb(20, 57, 2);
$light-color: rgb(178, 221, 203);
$contrast-color: #fe85fa;
$third-color: rgb(69, 214, 154);
$white: rgb(255, 255, 255);

button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}

* {
  font-family: quicksand;
}

h2 {
  text-align: center;
}

body {
  background-color: hsl(304, 33%, 91%);
}
